/* Comentario */

h1,
h4 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-family: Georgia, "Times New Roman", "Arial";
  font-style: italic;
}
h4 {
  font-size: 18px;
}

header {
  background: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

main > p > span {
  color: darkcyan;
}

.destacar {
  background: black;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.destacar-palabra {
  font-weight: 900;
}

.subrayar-arriba {
  text-decoration: overline;
}

.tachar {
  text-decoration: line-through;
}
.subrayar {
  text-decoration: underline;
}

.tomato {
  color: tomato;
}

.oliva {
  color: olive;
}
