/* Comentario */

h1,
h4 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-family: Georgia, "Times New Roman", "Arial";
  font-style: italic;
}
h4 {
  font-size: 18px;
}

.padding-section {
  padding: 10px;
}

header {
  background: black;
}

main > p > span {
  color: darkcyan;
}

.destacar {
  background: black;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  text-align: center;
  /* estilos del borde */
  border: 3px solid tomato;
  border-radius: 3px;
}
.destacar-palabra {
  font-weight: 900;
}

h2:hover {
  background: olive;
}

/*
  padding-top
  padding-right 
  padding-bottom
  padding-left

*/
.subrayar-arriba {
  text-decoration: overline;
}

.padding-titulo {
  padding-top: 20px;
  padding-bottom: 18px;
}

.margin-titulo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.tachar {
  text-decoration: line-through;
}
.subrayar {
  text-decoration: underline;
}

.tomato {
  color: tomato;
}

.oliva {
  color: olive;
}

/* 
PSEUDOCLASES 
*/

/*NO VISITADO*/
a:link {
  text-decoration: none;
}
/*VISITADO */
a:visited {
  text-decoration: none;
}
/*activo */
a:active {
  text-decoration: none;
  color: greenyellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
/*Hover : posiciono el mouse sobre el link*/
a:hover {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 89px;
  background: goldenrod;
}
